extends ../layout/default.pug
block content
	.container
		.top
			h1= title
			.search
				.keyword
					input(type='text' placeholder='검색어를 입력하세요.')
					button(type='submit') 검색
			.searched
				ul
					each v in lists
						li
							a(href="")= v.title
		section#products
			.total_pd
				.sort_button
					button.date_sort &#xCD5C;&#xC2E0;&#xC21C;
					button.fav_sort &#xC778;&#xAE30;&#xC21C;
					select.sort_sel
						option &#xC120;&#xD0DD;
						option(value='date') &#xCD5C;&#xC2E0;&#xC21C;
						option(value='fav') &#xC778;&#xAE30;&#xC21C;
					if user && user.id
						button(onclick="location.href='/board/write';") 글작성
				.pd_frame
					each v in lists
						.pd_box
							a(href=`/board/view/${v.id}`)
								.pd_photo
									img(src=`${v.imgSrc}`)
								.pd_info
									h3.pd_tit
										a(href=`/board/view/${v.id}`)= v.title
											if v.savefile
												i.fa.fa-file.ml-2
									p.pd_txt= v.content
									.pd_etc
										span.pd_writer= v.writer
										.pd_date= v.wdate
									p.fav 좋아요
										span 105
		include ../inc/pager.pug
