extends ../layout/default.pug
block content
	ul.view.my-3
		li.list
			div.p-2= list.title
		li.list.p-2
			.tit
				div.writer= list.writer
				div.date= list.wdate
			button 	좋아요
		if list.savefile
			li.list.border-bottom
				div.p-2.file
					a(href=`/board/download?file=${list.savefile}&name=${list.realfile}`)= list.realfile
					i.fa.fa-file.ml-2
		if list.imgSrc
			li.list
				div.p-2
					img.mw-100.img(src=`${list.imgSrc}`)
		li.list.cnt
			div.p-2= list.content
		ul.vmenu.p-3
			li
				button(onclick=`location.href='/board'`) 리스트
			if user && user.id
				li
					button(onclick=`location.href='/board/write'`) 글쓰기
			if user && user.id && user.id == list.uid
				li
					button(onclick=`location.href='/board/update/${list.id}'`) 수정
				li
					button(onclick=`onDelete(${list.id});`) 삭제