extends ../layout/default.pug
block content
	div.write
		form(method="post" name="boardForm" action=`${list ? '/board/saveUpdate' : '/board/save'}` enctype="multipart/form-data")
			input(type="hidden" name="id" value=`${list && list.id ? list.id : ''}`)
			input.title(type="text" name="title" placeholder="제목을 입력하세요." value=`${list && list.title ? list.title : ''}`)
			input(type="text" name="writer" placeholder="작성자를 입력하세요." value=`${list && list.writer ? list.writer : ''}`)
			textarea.cnt(name="content" placeholder="내용을 입력하세요.")= `${list && list.content ? list.content : ''}`
			div
				if list && list.savefile
						span.font-weight-bold= list.realfile
						a.fa.fa-times-circle.ml-2(href=`javascript: fileRemove(${list.id})`)
				input.file(name="upfile" type="file")
			.button
				if list
					button 수정
				else
					button 저장
				button(type="reset") 다시작성
